@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
	--PaleBlue: hsl(225, 100%, 94%);
	--BrightBlue: hsl(245, 75%, 52%);
	--VeryPaleBlue: hsl(225, 100%, 98%);	
	--DesaturatedBlue: hsl(224, 23%, 55%);
	--DarkBlue: hsl(223, 47%, 23%);
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	display: flex;
	height: 100vh;
	background-image: url(images/pattern-background-desktop.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background-color: var(--PaleBlue);
	font-family: 'Red Hat Display', sans-serif;
}

/* Configuracion general de la tarjeta*/
.card {
	display: flex;
	flex-direction: column;
	height: 700px;
	width: 455px;
	margin: auto;
	background: white;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0px 30px 30px -20px var(--DesaturatedBlue);
	transition: .5s ease-in-out;
}

/* Configuracion de la imagen de la tarjeta*/
.card-imagen {
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-bottom: 30px;
}

/* Configuracion del texto de la tarjeta*/
.titulo{
	font-size: 28px;
	font-weight: 900;
	margin: 16px;
	color: var(--DarkBlue);
}

.subtitulo {
	margin: 16px 80px;
	color: var(--DesaturatedBlue);
}

/* Configuracion general del plan*/
.card-plan {
	display: flex;
	align-items: center;
	background-color: var(--VeryPaleBlue);
	margin: 10px 50px;
	padding: 26px;
	border-radius: 15px; 
}

/* Configuracion de la imagen del plan*/
.card-plan img {
	display: flex;
	width: 50px;
	height: 50px;
}

/* Configuracion de los textos del plan*/
.card-plan-text {
	display: flex;
	margin: auto;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.card-plan-anual {
	margin-left: 20px;
}

.card-plan-anual p {
	display: flex;
	margin: 0px;
	padding: 0px;
	font-size: 1rem;
}

.card-plan-anual :first-child {
	color: var(--DarkBlue);
	margin-bottom: 8px;
	font-weight: 900;
}

.card-plan-anual :last-child {
	color: var(--DesaturatedBlue);
	margin-top: 8px;
}

.card-plan-text a {
	color: var(--BrightBlue);
	font-weight: 700;
	transition: .5s ease-in-out;
}

.card-plan-text a:hover {
	text-decoration: none;
	opacity: 0.75;
}

/* Configuracion del boton */
.card-proceed {
	display: flex;
	justify-content: center;
	background-color: var(--BrightBlue);
	margin: 20px 50px;
	padding: 15px;
	border-radius: 15px; 
	box-shadow: 0px 10px 10px 5px var(--PaleBlue);
	transition: .5s ease-in-out;
	cursor: pointer;
}

.card-proceed:hover {
	opacity: 0.75;
	/* background-color: var(--DesaturatedBlue); */
}

.card-proceed p {
	display: flex;
	color: white; 
	font-weight: 700;
	margin: 0px; 
}

/* Configuracion del boton de cancelacion*/
.card-cancel {
	margin: 15px;
	color: var(--DesaturatedBlue);
}

.card-cancel p {
	margin: 0px;
	font-weight: 900;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

.card-cancel p:hover {
	color: var(--DarkBlue);
}

/*================================================*/
/* Configuracion de pagina para moviles */
@media screen and (max-width: 480px) {
	body {
		background-image: url(images/pattern-background-mobile.svg);
	}
	
	/* Ajuste de tamaño general de la tarjeta */
	.card {
		transition: .5s ease-in-out;
		width: 330px;
		height: 575px;
	}

	.titulo {
		margin: 8px;
	}

	.subtitulo {
		margin: 20px 30px;
	}

	/* Ajuste de tamaño de la seccion del plan anual */
	.card-plan {
		margin: 10px 16px;
		padding: 16px;
		border-radius: 15px; 
	}

	/* Ajuste de tamaño del boton de aceptacon */
	.card-proceed {
		margin: 10px 16px;
	}
} 


/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */